a.arrowback.ajax(href="/")
  i(class="fa fa-arrow-left fa-fw" aria-hidden="true")

#model
  .avatar
    a
      img(src="/assets/img/avatar.jpg" alt="")
  .infobox
    .title
      h1
        i.fa.fa-link.fa-fw
        span social links
    .buttons
      -
        var social = {
          'mail': {
            title: 'Email',
            href: 'mailto:pyraxo@pyraxo.moe',
            class: 'fa fa-envelope fa-fw'
          },
          'twitter': {
            title: 'Twitter',
            href: 'https://twitter.com/Lonely_F34ther',
            class: 'fa fa-twitter fa-fw'
          },
          'facebook': {
            title: 'Facebook',
            href: 'https://www.facebook.com/yogazacty',
            class: 'fa fa-facebook fa-fw'
          },
          'instagram': {
            title: 'Instagram',
            href: 'https://www.instagram.com/ysh_putra',
            class: 'fa fa-instagram fa-fw'
          },
          'telegram': {
            title: 'Telegram',
            href: 'https://web.telegram.org/#/im?p=@zacty',
            class: 'fa fa-paper-plane fa-fw'
          },
          'github': {
            title: 'Github',
            href: 'https://github.com/yogasakti',
            class: 'fa fa-github fa-fw'
          }
        }
      each btn in social
        a(href=btn.href target="_blank" title=btn.title id=btn.title)
          i(class=btn.class)
      br