
<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-facebook fa-lg main-list-item-icon"></span>
    <a href="http://www.facebook.com/yogazacty">My Profile</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-instagram fa-lg main-list-item-icon"></span>
    <a href="https://www.instagram.com/ysh_putra/">More Art</a>
  </li>
  <li class="main-list-item">
      <span class="fa fa-twitter fa-lg main-list-item-icon"></span>
      <a href="https://twitter.com/Lonely_F34ther">My tweet</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-envelope fa-lg main-list-item-icon"></span>
    <a href="mailto:yogazacty@gmail.com">Email</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/yogasakti">GitHub Repository</a>
  </li>
</ul>
